.quote {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: $font-size-medium-mobile;
  outline: none;
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    font-size: 26px;
    margin: 0 70px;
  }

  &-toggle {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    padding-top: 20px;
  }

  &-hidden {
    display: inline;
  }

  &-author {
    font-size: $font-size-small-mobile;
    font-weight: 800;
    margin-top: 20px;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size-small;
    }
  }
}