.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0 115px;

  @media (min-width: $breakpoint-tablet) {
    padding-bottom: 20px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 40px 0 0;
  }

  @media (min-width: $breakpoint-desktop-wide) {
    padding: 80px 0 0;
  }

  .content {
    align-self: flex-start;
    position: relative;
    width: 100%;

    img {
      bottom: -100px;
      height: 160px;
      position: absolute;
      right: 0;
      z-index: -99;

      @media (min-width: $breakpoint-tablet) {
        height: 115%;
        top: -42px;
        right: -60px;
      }
    }

    &-title {
      font-weight: 500;
      margin: 0;
      width: 100%;

      @media (max-width: $breakpoint-mobile-horizontal - 1) {
        font-size: 34px;
      }

      @media (min-width: $breakpoint-tablet) {
        max-width: 87%;
      }

      @media (min-width: $breakpoint-desktop) {
        max-width: 900px;
      }
    }

    &-divider {
      align-self: flex-start;
      background-color: $color-accent-dark;
      height: 2px;
      margin: 40px 0;
      width: 110px;

      @media (min-width: $breakpoint-mobile-horizontal) {
        width: 130px;
      }

      @media (min-width: $breakpoint-desktop-wide) {
        height: 3px;
      }
    }

    &-subtitle {
      font-size: 20px;
      margin: 0;

      @media (min-width: $breakpoint-mobile-horizontal) {
        font-size: $font-size-medium-mobile;
      }

      @media (min-width: $breakpoint-tablet) {
        max-width: 85%;
      }

      @media (min-width: $breakpoint-desktop) {
        max-width: 950px;
      }
    }

    .buttonWrapper {
      display: flex;
      justify-content: flex-start;
      margin-top: 40px;

      button {
        background: $color-white;
        padding: 5px 12px 7px;
      }
    }
  }
}