.navbar {
  cursor: pointer;
  display: flex;
  font-size: $font-size-small;
  justify-content: space-between;
  margin: 20px 0 30px;
  padding: 0;
  transition: 0.3s width ease-in-out;

  @media (min-width: $breakpoint-mobile-horizontal) {
    width: calc(100% - 40px);
    padding: 25px 0;
  }

  @media (min-width: $breakpoint-tablet) {
    cursor: auto;
    flex-direction: row;
    width: unset;
  }

  &--isExpanded {
    @media (max-width: $breakpoint-tablet - 1) {
      margin: 25px auto 50px;
    }
  }

  &-title {
    display: none;

    @media (min-width: $breakpoint-tablet) {
      align-items: center;
      display: flex;
    }
  }
}

.hamburger {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-mobile-horizontal) {
    display: none;
  }

  &--isHidden {
    @media (max-width: $breakpoint-tablet - 1) {
      display: none;
    }
  }

  &-line {
    background-color: $color-text;
    border-radius: 10px;
    height: 3px;
    margin-top: 5px;
    width: 30px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.list {
  display: flex;
  opacity: 1;
  transition: opacity 0.5s ease-in;

  @media (max-width: $breakpoint-mobile-horizontal - 1) {
    margin: 0 auto !important;
  }

  &--isHidden {
    @media (max-width: $breakpoint-mobile-horizontal - 1) {
      opacity: 0;
      pointer-events: none;
    }
  }

  &-itemLink {
    font-size: $font-size-small-mobile;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }

  .separator {
    padding: 0 3px;

    @media (min-width: 360px) {
      padding: 0 8px;
    }

    @media (min-width: $breakpoint-mobile-horizontal) {
      padding: 0 15px;
    }
  }
}

