$breakpoint-mobile-horizontal: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1260px;
$breakpoint-desktop-wide: 1440px;

$component-max-width: 1280px;
$component-spacing: 160px;
$component-spacing-mobile: 80px;

$font-inconsolata: 'Inconsolata', monospace;
$font-oswald: 'Oswald', sans-serif;
$font-size-big: 75px;
$font-size-big-mobile: 65px;
$font-size-medium: 30px;
$font-size-medium-mobile: 22px;
$font-size-small: 18px;
$font-size-small-mobile: 16px;

$color-accent-dark: #1e3f5a;
$color-accepted: #78b13f;
$color-text: #000;
$color-textFaded: #808080;
$color-white: #fff;

$gutter-mobile: 20px;
$gutter-tablet: 40px;
$gutter-desktop: 100px;